<section id="viewRent">
        <div ng-repeat="rent in rc.handfulOfRent.rent">
                <div>SQFT: {{rent.sqft}}</div>
                <div>City: {{rent.city}}</div>
                <!-- <button ng-click="rc.toggleRent()">Show punchline</button>             -->
                <div>Monthly Cost: {{rent.rentcost}}</div>
                <!-- <button ng-click="rc.previousRiddle()">Previous</button> -->
          
                <!-- <button ng-click="rc.nextRiddle()">Next</button> -->
            <div>
    </section>