<!-- Honestly, I've rarely used Bootstrap, so this was my shot at it at 11pm on a Sunday. ¯\_(ツ)_/¯ -->
<div class="col-md-12">
  <!-- 
    This doesn't currently work but should be a dropdown to select what filter you'd like
    to apply to the results below. 
  -->
  <select ng-model="ctrl.selection">
    <option value="all" selected="selected">All Properties</option>
    <option value="for sale">For Sale</option>
    <option value="for rent">For Rent</option>
  </select>
</div>
<section>
  <!--  -->
  <div ng-repeat="listing in ctrl.listings" class="col-md-4">
    <div>
      <!-- 
          Using ng-if to conditionally change the photo for the property 
          <select> tag.
        -->
      <img ng-if="listing.cost" src="https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"
        class="img-responsive">
      <img ng-if="listing.rent" src="https://images.pexels.com/photos/259962/pexels-photo-259962.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"
        class="img-responsive">
    </div>
    <h3>
      <!-- Using ng-if again to show For Sale or For Rent depending on which type of property being created -->
      <span ng-if="listing.cost">For Sale</span>
      <span ng-if="listing.rent">For Rent</span>
    </h3>
    <small>{{listing.sqft}}ft
      <!-- The HTML tag for superscript. -->
      <sup>2</sup>
    </small>
    <p>{{listing.city}}, MN</p>
    <!-- 
        What you see following the listing.cost || listing.rent is called a filter. There are a few built in filters
        for Angular. One for Dates, Numbers, and Currency! To use a filter you put a bar after
        the thing you want to filter (|) and then pass it into the filter you'd like to use.
        In this context currency, and I want it to show up as dollars but you can use Euros, Yuan, whatevs.
       -->
    <p>{{listing.cost || listing.rent | currency : '$'}}</p>
  </div>
</section>